@charset "UTF-8";
@font-face {
  font-family: "Noto Sans TC", sans-serif;
  src: local("微軟正黑體");
}
html {
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background: linear-gradient(180deg, #f0ebd8, #9fbfc4 30%, #293a4c);
  /*background: $dark;*/
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#menu {
  position: absolute;
  width: 20vw;
  height: 100vh;
  left: 0;
  top: 0;
  /*background:$cream_1;*/
  box-shadow: rgba(41, 58, 76, 0.5) 0.5vw 0vw 1vw;
  /*border:1px solid;*/
}

#bar {
  position: absolute;
  width: 14vw;
  height: 48vh;
  top: 70%;
  left: 46%;
  /*border:1px solid;*/
  transform: translate(-50%, -50%);
}

/*.btn{
  position:absolute;
  width:100%;
  height:10vh;
  left:0;
  font-size:1.5vw;
  color:$dark;
  font-weight:700;
  text-align:center;
}*/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 70%;
  height: 2.5vw;
  left: 50%;
  transform: translate(-50%);
  font-size: 3vh;
  color: #f0ebd8;
  font-weight: 300;
  /*text-align: center;*/
  /*border:0.1vh solid $cream_2;*/
  /*box-shadow:0 0 0.25vw;*/
  cursor: pointer;
}
.btn:hover {
  font-size: 2.25vh;
}
.btn::before {
  position: absolute;
  content: "[";
  left: calc(50% - 3.5vw);
  top: 50%;
  color: #9fbfc4;
  font-weight: 500;
  font-size: 3.5vh;
  transform: translate(-50%, -50%);
}
.btn::after {
  position: absolute;
  content: "]";
  left: calc(50% + 3.5vw);
  top: 50%;
  color: #9fbfc4;
  font-weight: 500;
  font-size: 3.5vh;
  transform: translate(-50%, -50%);
}
.btn:hover::before {
  left: calc(50% - 2.5vw);
  color: #ff6b6c;
}
.btn:hover::after {
  left: calc(50% + 2.5vw);
  color: #ff6b6c;
}
.btn:active {
  font-size: 0;
}
.btn:active::before {
  left: calc(50% - 0.5vw);
  font-size: 1.5vw;
}
.btn:active::after {
  left: calc(50% + 0.5vw);
  font-size: 1.5vw;
}

.btn::before,
.btn::after,
.btn {
  transition: 500ms;
}

.btn.b1 {
  top: 0;
}

.btn.b2 {
  top: 8vh;
}

.btn.b3 {
  top: 16vh;
}

.btn.b4 {
  top: 24vh;
}

.btn.b5 {
  top: 32vh;
}

.btn.b6 {
  top: 40vh;
}

.icon {
  position: absolute;
  width: 25vh;
  height: 25vh;
  top: 15%;
  left: 46%;
  transform: translate(-50%);
  /*border:1px solid;  */
}

.name {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 2.5vw;
  color: #f0ebd8;
  font-weight: 700;
}

.squid {
  width: 60%;
  height: 60%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  position: absolute;
  width: 14vw;
  height: 4vw;
  left: 46%;
  top: 3%;
  transform: translate(-50%);
  background: rgba(41, 58, 76, 0.5);
  color: #f0ebd8;
  text-align: center;
  font-size: 2vw;
}

.menu_btn {
  position: absolute;
  width: 4vw;
  height: 4vw;
  background: linear-gradient(90deg, #f0ebd8, #9fbfc4);
  top: 50%;
  right: -20%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#pic {
  position: absolute;
  width: 60vw;
  height: 30vw;
  top: 40%;
  left: 60%;
  /*background:$dark_o;*/
  /*background: $mid_o;*/
  border: 0.25vw solid rgba(240, 235, 216, 0.25);
  transform: translate(-50%, -50%);
  border-radius: 2vw;
  overflow: hidden;
}

.water {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(116, 140, 171, 0.5);
}
.water::before, .water::after {
  content: "";
  position: absolute;
  width: 200vw;
  height: 200vw;
  bottom: 30vw;
  left: -100%;
}
.water::before {
  border-radius: 48%;
  background: rgba(240, 235, 216, 0.25);
  animation: wave 15s linear infinite;
}
.water::after {
  border-radius: 45%;
  background: rgba(240, 235, 216, 0.25);
  animation: wave 15s linear infinite;
}

img {
  position: absolute;
}

.i1 {
  width: 5vw;
  height: 5vw;
  left: 2vw;
  bottom: 55px;
  animation: move5 3.8s 0.8s infinite;
}

.i2 {
  width: 15vw;
  height: 15vw;
  left: 3vw;
  bottom: 30px;
  animation: move4 3.8s 0.6s infinite;
}

.i3 {
  width: 18vw;
  height: 18vw;
  left: 10vw;
  bottom: 25px;
  animation: move3 3.8s 0.4s infinite;
}

.i4 {
  width: 21vw;
  height: 21vw;
  left: 20vw;
  bottom: 10px;
  animation: move2 3.8s 0.2s infinite;
}

.i5 {
  width: 23vw;
  height: 23vw;
  left: 32vw;
  bottom: 32px;
  animation: move1 3.8s infinite;
}

.i6 {
  width: 10vw;
  height: 10vw;
  left: 48vw;
  bottom: 30px;
  animation: move6 3.8s 0.2s infinite;
}

#info {
  position: absolute;
  width: 60vw;
  height: 5vw;
  top: 80vh;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  color: #f0ebd8;
  font-weight: 600;
  text-shadow: 0.2vw 0.2vw 0.2vw #293a4c;
  /*border:1px solid;*/
}

#info2 {
  position: absolute;
  width: 60vw;
  height: 5vw;
  top: 90vh;
  left: 62%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
  color: #f0ebd8;
  font-weight: 600;
  text-shadow: 0.2vw 0.2vw 0.2vw #293a4c;
}

#info3 {
  position: absolute;
  width: 40vw;
  height: 20vw;
  top: 76vh;
  left: 70%;
  background: rgba(240, 235, 216, 0.25);
  transform: translate(-50%);
}

@keyframes move1 {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(5vh);
  }
  100% {
    transform: translatey(0vh);
  }
}
@keyframes move2 {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(3.5vh);
  }
  100% {
    transform: translatey(0vh);
  }
}
@keyframes move3 {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(3vh);
  }
  100% {
    transform: translatey(0vh);
  }
}
@keyframes move4 {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(2.5vh);
  }
  100% {
    transform: translatey(0vh);
  }
}
@keyframes move5 {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(2vh);
  }
  100% {
    transform: translatey(0vh);
  }
}
@keyframes move6 {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(3.5vh);
  }
  100% {
    transform: translatey(0vh);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}